apiVersion: v1
kind: Service
metadata:
  name: auth-api-service
  labels:
    app: auth-api
spec:
  type: ClusterIP
  selector:
    app: auth-api
  ports:
    - name: http
      port: 8080
      targetPort: 8080
